# shellcheck disable=SC2034

###################### Secrets ###########################

# For fluxcd
GITHUB_TOKEN=

# For platform
OP_SERVICE_ACCOUNT_TOKEN=

##################### Config ##############################

# Define KUBECONFIG paths for each of the clusters
KUBECONFIG_PATH_us_west_2_aws_marvel_dataplane=/path/to/.kube/config
